* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #000;
}

.wrapper > div {
  padding: 20px;
  border: 1px solid #000;
  background: none;
  padding: 20px;
  border-radius: 10px;
}

.text > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid #777;
}

.button {
  padding: 20px;
  border: 1px solid #000;
  background: none;
  border-color: #000;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

.button:active {
  background-color: #999;
}

.picked {
  background-color: #fff394;
}
